$black: #3c3a42;
$white: #fff;
$pink: #eb008c;
$orange: #ff9239;



// @mixin for-xxl {
//   @media (max-width: 1805px) { @content; }
// }
// @mixin for-xl {
//     @media (min-width: 1024px) and (max-width: 1470px) { @content; }
//   }

@mixin for-xl {
    @media (max-width: 1600px) { @content; }
  }
@mixin for-lg {
    @media (max-width: 1250px) { @content; }
 }
//   @mixin for-lit-desktop {
//     @media (max-width: 1050px) { @content; }
//   }
//   @mixin for-md-desktop{
//     @media (min-width: 1025px) { @content; }
//   }
  @mixin for-md {
    @media (max-width: 1024px) { @content; }
    
  }
//   @mixin for-lit-md {
//     @media (max-width: 850px) { @content; }
//   }
  @mixin for-sm {
    @media (max-width: 768px) { @content; }
  }
  @mixin for-tiny-tablet {
    @media (max-width: 650px) { @content; }
  }
  @mixin for-md-mob{
    @media (max-width: 550px) { @content; }
  }
//   @mixin for-tiny-mob {
//     @media (max-width: 500px) { @content; }
//   }

//   @mixin for-min-mob {
//     @media (min-width: 650px) { @content; }
//   }
  @mixin for-lit-mob {
    @media (max-width: 365px) { @content; }
    }