@import "_vars";
@import "_libs";
@import "_fonts";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;

}

body {
    font-family: 'Oswald', sans-serif;
    color: $black;
    height: auto;
    font-size: 21px;
    line-height: 25px;
    font-weight: 300;
    // overflow-x: hidden;
    @include for-md {
        font-size: 18px;
        line-height: 22px;
    }

    @include for-md-mob {
        font-size: 16px;
        line-height: 20px;
    }
}

header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.main {
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    @include for-md {

    }

}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.logo {
    @include for-md {
        transform: scale(.8);
        padding: 0 10px;
    }

    &__img {
        width: 100%;
    }
}

.container {
    margin: 0 auto;
    max-width: 1920px;

    &--pl {
        padding-left: 192px;

        @include for-xl {
            padding-left: 70px;
        }

        @include for-md {
            padding: 0 15px;
        }
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-toggle {
    position: absolute;
    display: none;
    z-index:50;
    right: 15px;
    top: 15px;
    
    @include for-md {
        display: block;
    }
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: $orange;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 3px;
    width: 23px;
    margin-bottom: 5px;
    border-radius: 1px;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}


.opened .bar-top {
    background-color: $white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    background-color: $white;
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0% 95%;
    transform-origin: 5% 50%;
}

.section-title {
    position: relative;
    display: inline-block;
    padding: 24px 199px 29px 204px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: -14px;
    color: $white;

    &:after {
        content: '';
        position: absolute;
        transform: skewX(-13deg);
        width: 656px;
        height: 100%;
        background-color: $orange;
        left: 0;
        top: 0;
        transition: .3s;
        z-index: -1;

        @include for-md {
            width: 100% !important;
            transform: skew(0);
        }
    }

    &--center {
        margin-left: 0;
        &:after {
            left: 50%;
            transform: skewX(-13deg) translateX(-50%);

            @include for-md {
                transform: skew(0) translateX(-50%);
            }
        }
    }

    @include for-md {
        margin-left: 0;
        padding: 25px 0;
        width: 100%;
        text-align: center;
    }

    @include for-md-mob {
        padding: 15px 0;
        font-size: 36px;
        line-height: 40px;
    }

}

.hero {
    padding-top: 71px;

    @include for-xl {
        padding-top: 32px;
    }

    @include for-md {
        padding-top: 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1072px;
        height: 662px;
        background-image: url(../img/gradient-hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -2;

        @include for-lg {
            display: none;
        }
    }

    &__info {
        margin-top: 10px;

        @include for-xl {
            margin-top: 40px;
        }

        @include for-md {
            margin-top: 0;
        }
    }
}

.menu {
    max-width: 926px;
    width: 100%;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-md {
            flex-direction: column;
        }

        li {
            color: $black;
            font-size: 24px;
            line-height: 28px;


        }

        a {
            border-bottom: 1px solid transparent;
            transition: .3s;

            &:hover {
                color: $pink;
                border-color: $pink;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 95px;
    padding-right: 35px;

    @include for-xl {
        flex-direction: column;
        padding-left: 10px;
    }

    @include for-md {
        padding-right: 10px;
    }

    &__menu {
        margin-left: 40px;
        margin-top: -24px;

        li {
            @include for-md {
                color: $white;
            }
        }

        li+li {
            @include for-md {
                margin-top: 20px;
            }
        }

        @include for-xl {
            margin-top: 0;
        }

        @include for-md {
            display: none;
            position: absolute;
            margin-left: 0;
            padding: 20px 0;
            background-color: $orange;
            max-width: 100%;
            border-radius: 0 0 10px 10px;
            z-index: 40;
        }
    }


}

.hero-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__desc {
        position: relative;
        padding: 23px 172px 23px 195px;
        font-size: 48px;
        line-height: 52px;
        color: $white;

        &:before {
            content: '';
            position: absolute;
            background-color: #f95621;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: skewX(-13deg);
            transition: .3s;
            z-index: -1;
        }

        @include for-xl {
            transform: translateX(-15%);
        }

        @include for-sm {
            font-size: 32px;
            line-height: 36px;
            width: 100%;
            transform: none;
            padding: 20px 10px;
            text-align: center;
        }

        @include for-md-mob {
            padding: 10px;
            font-size: 24px;
            line-height: 26px;
        }
    }

    &__text-block {
        @include for-sm {
            width: 100%;
        }
    }

    &__communication {
        margin-top: 115px;
        padding-left: 195px;

        @include for-xl {
            padding-left: 40px;
        }

        @include for-md {
            margin-top: 50px;
        }

        @include for-md-mob {
            margin-top: 30px;
            padding-left: 10px;
        }
    }

    &__img-block {
        margin-top: -80px;
        padding-right: 207px;

        @include for-xl {
            margin-top: 0;
            padding-right: 0;
        }

        @include for-lg {
            display: none;
        }
    }
}

.communication {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__link {
        position: relative;
        padding-left: 71px;
        font-size: 30px;
        line-height: 34px;
        color: #808285;

        &::before {
            content: '';
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include for-md {
                transform: scale(.8) translateY(-50%);
                transform-origin: center 0;
            }

            @include for-md-mob {
                transform: scale(.5) translateY(-50%);
            }

        }

        @include for-md {
            padding-left: 60px;
            font-size: 24px;
            line-height: 28px;
        }

        @include for-md-mob {
            padding-left: 50px;
            font-size: 18px;
            line-height: 22px;
        }

    }

    &__phone {
        &:hover {
            text-decoration: underline;
        }
    }

    &__link+&__link {
        margin-top: 35px;

        @include for-md-mob {
            margin-top: 15px;
        }
    }

    &__address {
        &:before {
            width: 51px;
            height: 67px;
            background-image: url(../images/icons/mark.png);
        }
    }

    &__phone {
        &:before {
            width: 57px;
            height: 58px;
            background-image: url(../images/icons/phone.png);
        }
    }

}

.about {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        @include for-lg {
            display: none;
        }
    }

    &::before {
        width: 727px;
        height: 261px;
        left: 0;
        top: 30%;
        background-image: url(../img/about-left-line.png);

        @include for-xl {
            left: -20%;
        }
    }

    &::after {
        width: 117px;
        height: 261px;
        right: 0;
        top: 30%;
        background-image: url(../img/about-right-line.png);

        @include for-xl {
            display: none;
        }
    }

    &__inner {
        display: flex;

        @include for-lg {
            margin-top: 50px;
        }

        @include for-md-mob {
            margin-top: 20px;
        }
    }

    &__img-block {
        max-width: 405px;
        max-height: 591px;

        @include for-lg {
            display: none;
        }
    }

    &__text-block {
        padding-left: 268px;
        padding-top: 18px;

        @include for-xl {
            padding-left: 40px;
        }

        @include for-lg {
            padding-left: 0;
        }
    }

    &__title {
        margin-bottom: 76px;
        font-size: 48px;
        line-height: 52px;
        color: $pink;
        font-weight: 300;
        text-transform: uppercase;

        @include for-md {
            margin-bottom: 40px;
            font-size: 38px;
            line-height: 42px;
        }

        @include for-md-mob {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }

    &__text {
        margin-top: 27px;
        font-family: 'Open Sans', sans-serif;

        @include for-md {
            margin-top: 15px;
        }
    }

    &__text-block {
        width: 65%;

        @include for-xl {
            width: 100%;
        }
    }

    &__link {
        position: relative;
        margin-top: 67px;
        padding: 37px 50px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        color: $orange;
        text-transform: uppercase;
        transition: .3s;
        text-align: center;

        @include for-md {
            font-size: 38px;
            line-height: 42px;
            padding: 20px;
        }

        @include for-sm {
            font-size: 32px;
            line-height: 36px;
        }

        @include for-md-mob {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            font-size: 20px;
            line-height: 24px;
        }

        &:hover {
            color: $white;

            &::after {
                width: 100%;
            }
        }

        &:before {
            content: '';
            position: absolute;
            border: 10px solid $orange;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: skewX(-13deg);
            transition: .3s;

            @include for-md {
                border-width: 5px;
            }

            @include for-md-mob {
                border-width: 2px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            transform: skewX(-13deg);
            width: 0;
            height: 100%;
            background-color: $orange;
            left: 0;
            top: 0;
            transition: .3s;
            z-index: -1;
        }
    }
}

.trainers {
    &__inner {
        margin-top: 105px;

        @include for-md {
            margin-top: 60px;
        }

        @include for-md-mob {
            margin-top: 30px;
        }
    }

    &__title {
        position: relative;
        z-index: 15;

        &:after {
            width: 555px;

            @include for-md {
                width: 100%;
            }
        }

    }

    &__slider {
        position: relative;
        margin-top: -53px;
        padding: 107px 150px 58px;
        background-image: url(../img/trainers-slider-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10;

        @include for-xl {
            padding: 80px 100px 30px;
        }

        @include for-lg {
            padding: 60px 80px 20px;
        }

        @include for-md {
            margin-top: 0;
            padding: 40px;
            background-image: none;
            background-color: #f95621;
        }
    }

    .slick-slide {
        max-width: 100% !important;
        
        padding: 0 15px;
    }

    .slick-list {
        @include for-md-mob {
            padding: 0 !important;
        }
    }

}

.slider-arrows {
    position: absolute;
    width: 89px;
    height: 142px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    @include for-md {
        transform: scale(.7) translateY(-50%);
        transform-origin: center 0;
    }
    @include for-sm {
        transform: scale(.5) translateY(-50%);
    }
    @include for-md-mob {
        transform: scale(.4) translateY(-50%);
    }


    &__next {
        background-image: url(../images/icons/arrow-right.png);
        right: 100px;

        @include for-lg {
            right: 70px;
        }
        @include for-sm{
            right: 20px;
        }
        @include for-md-mob{
            right: -24px;
        }
    }

    &__prev {
        background-image: url(../images/icons/arrow-left.png);
        left: 100px;

        @include for-lg {
            left: 70px;
        }
        @include for-sm{
            left: 20px;
        }
        @include for-md-mob{
            left: -24px;
        }
    }

}

.trainer-item {
    // margin: 0 -15px;
    &__img-block {
        display: block;
        margin: 0 auto;
        max-width: 376px;
        max-height: 332px;
        border: 5px solid $white;
        border-radius: 3px;

        @include for-sm {
            max-width: 250px;
        }

        @include for-md-mob {
            flex-shrink: 0;
        }

    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include for-md-mob {
            flex-shrink: 0;
        }
    }

    &__text-block {
        margin-top: 35px;
        text-align: center;
        @include for-sm {
            margin-top: 25px;
        }
    }

    &__name {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: $white;
        text-align: center;

        @include for-sm {
            margin-bottom: 5px;
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__expiriens {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $white;

        @include for-sm {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.programms {
    &__inner {
        display: flex;
        margin-top: 116px;
        flex-direction: column;
        align-items: center;
        @include for-sm{
            margin-top: 40px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        max-width: 1643px;
        padding-left: 40px;
        margin-right: -60px;

        @include for-xl {
            margin-right: 0;
        }

        @include for-md {
            margin-top: 30px;
            margin-right: 0;
            padding: 0 15px;
        }

    }

    &__container {
        width: 33.33333%;
        padding-right: 60px;

        @include for-xl {
            width: 50%;
            margin-bottom: 60px;
        }

        @include for-md {
            padding-right: 0;
            width: 100%;
        }

        @include for-md-mob {
            margin-bottom: 40px;
        }
    }

}

.programm-item {
    &__title {
        display: flex;
        align-items: center;
        align-items: flex-end;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        color: $pink;
        text-transform: uppercase;

        @include for-md {
            font-size: 40px;
            line-height: 44px;
        }

        @include for-sm {
            font-size: 32px;
            line-height: 36px;
        }

        @include for-md-mob {
            font-size: 28px;
            line-height: 32px;
        }
    }

    &__title-img {
        margin-right: 46px;

        @include for-md {
            margin-right: 30px;
        }

        @include for-md-mob {
            display: none;
        }
    }

    &__text {
        margin-top: 65px;
        padding-left: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: #808285;

        @include for-md {
            margin-top: 30px;
            font-size: 24px;
            line-height: 28px;
        }

        @include for-sm {
            font-size: 20px;
            line-height: 24px;
        }

        @include for-md-mob {
            margin-top: 15px;
            padding-left: 0;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__link {
        margin-top: 40px;
        margin-left: 20px;
        font-size: 48px;
        line-height: 52px;
        color: $orange;
        border-bottom: 1px solid $orange;
        translate: .3s;

        &:hover {
            border-color: transparent;
        }

        @include for-sm {
            margin-left: 0;
            font-size: 32px;
            line-height: 36px;
        }

        @include for-md-mob {
            margin-top: 20px;
            font-size: 28px;
            line-height: 32px;
        }
    }
}

.timetable {
    &__inner {
        margin-top: 182px;

        @include for-md {
            margin-top: 0;
        }
    }

    &__title {
        position: relative;
        z-index: 10;
    }

    &__row {
        position: relative;
        display: flex;
        margin-top: -53px;
        padding: 117px 150px 58px;
        padding-left: 190px;
        background-image: url(../img/timetable-bg.png);
        background-repeat: no-repeat;
        background-size: cover;

        @include for-xl {
            padding: 100px 70px 40px 117px;
            flex-direction: column;
        }

        @include for-lg {
            padding: 100px 40px 40px;
            background-image: none;
            background-color: #ec008c;
        }

        @include for-md-mob {
            margin-top: 0;
            padding: 50px 5px;
        }
    }

    &__choose {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 114px;
        flex-shrink: 0;
        @include for-xl {
            padding-right: 0;
            flex-wrap: wrap;
        }
        @include for-lg{
            flex-direction: column;
        }
        @include for-md-mob{
            padding: 0 20px;
        }

        
    }
    &__choose-block{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 28px;
            height: 36px;
            background-image: url(../images/icons/arrow-down.png);
            background-size: cover;
            background-repeat: no-repeat;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            @include for-md-mob {
                left: 5px;
                transform: translateY(-50%) scale(.7);
            }
        }
        @include for-xl {
            width: 100%;
        }
        @include for-lg {
        }
    }
    &__choose-item {
        display: inline-block;
        position: relative;
        padding: 15px 20px 15px 67px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        color: $pink;
        text-transform: uppercase;
        background-color: $white;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        appearance: none;
        width: 100%;
        @include for-xl {
            font-size: 40px;
            line-height: 44px;
            width: 100%;
        }

        @include for-md {
        }

        @include for-sm {
            font-size: 30px;
            line-height: 34px;
        }

        @include for-md-mob {
            padding: 10px 15px 10px 40px;
            font-size: 22px;
            line-height: 26px;
        }

        
    }
    

    &__choose-block+&__choose-block {
        margin-top: 54px;

        @include for-xl {
            margin-left: 0;
            margin-top: 20px;
        }

        @include for-lg {
            
        }

        @include for-md-mob {
            margin-top: 10px;
        }
    }

    &__download {
        position: relative;
        margin-top: 65px;
        padding-left: 69px;
        font-size: 48px;
        line-height: 52px;
        color: $white;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        &:before {
            content: '';
            position: absolute;
            width: 53px;
            height: 56px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/icons/download-orange.png);
            background-size: cover;
            background-repeat: no-repeat;

            @include for-sm {
                transform: translateY(-50%) scale(.7);
            }

        }

        @include for-sm {
            margin-top: 30px;
            font-size: 38px;
            line-height: 42px;
        }

        @include for-md-mob {
            margin-top: 20px;
            padding-left: 55px;
            font-size: 28px;
            line-height: 32px;
        }
    }

    &__block {
        width: 100%;
        max-width: 834px;
        height: 500px;

        overflow-y: scroll;
        @include for-xl {
            margin-left: 0;
            margin: 40px auto 0;
        }
        @include for-md-mob{
            height: 300px;
        }
        .is-fullwidth.is-schedule .mf-widget_reg .mf-widget__body{
            @include for-md-mob {
                padding-left: 7px;
                padding-right: 47px;
            }
            
        }
        
    }

    &__table {
        font-size: 22px;
        line-height: 26px;
        background-color: $white;
        font-family: 'Open Sans', sans-serif;
        border-spacing: 0;
        border: 1px solid $white;
    }

    &__tr {
        &:first-child {
            .timetable__td {
                padding: 10px;
                font-weight: 600;
                background-color: $pink;
                color: $white;
                border-right: 1px solid $white;
                border-top: 1px solid $white;

                &:first-child {
                    background-color: $white;
                }
            }
        }

        &:nth-child(2n+1) {
            background-color: #fde9f1;
        }
    }

    &__td {
        padding: 25px 10px;
        font-size: 24px;
        line-height: 26px;

        &:first-child {
            padding: 18px;
            font-size: 26px;
            line-height: 30px;
            background-color: $orange;
            color: $white;
            border-bottom: 1px solid $white;

            @include for-sm {
                padding: 10px;
                font-size: 18px;
                line-height: 24px;
            }
        }

        @include for-sm {
            padding: 10px;
            font-size: 18px;
            line-height: 22px;
        }

        @include for-lit-mob {
            font-size: 16px;
        }
    }
}

.reviews {
    &__inner {
        display: flex;
        margin-top: 96px;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;

        @include for-lg {
            padding-left: 30px;
        }

        @include for-md {
            margin-top: 40px;
            padding-left: 0;
        }
    }

    &__title {
        &:after {
            width: 600px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 160px;
        margin-top: 65px;

        @include for-lg {
            padding: 0 50px;
        }

        @include for-md {
            padding: 0 20px;
        }

        @include for-sm {
            margin-top: 40px;
        }

        @include for-md-mob {
            padding: 0 15px;
        }
    }

    &__container {
        width: 50%;

        @include for-lg {
            padding-right: 30px;
        }

        @include for-sm {
            width: 100%;
            padding-right: 0;
        }

        &:nth-child(n + 5){
            display: none;
        }
    }

    &__item {
        margin-bottom: 78px;

        @include for-sm {
            margin-bottom: 40px;
        }
        @include for-md-mob{
            margin-bottom: 20px;
        }
    }

    &__link {
        margin-top: 12px;
        margin-left: 160px;
        align-self: flex-start;
        padding-bottom: 2px;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: $orange;
        border-bottom: 1px solid $orange;
        cursor: pointer;
        transition: .3s;
        &:before{
            content: 'Все отзывы';
        }

        &.opened{
            &:before{
                content: 'Скрыть';
            }
        }

        &:hover {
            border-color: transparent;
        }

        @include for-lg {
            margin-top: 0;
            margin-left: 15px;
        }

        @include for-md-mob {
            font-size: 26px;
            line-height: 30px;
        }
    }
}

.reviews-item {
    &__name {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: $pink;
        text-transform: uppercase;

        @include for-sm {
            margin-bottom: 15px;
        }
    }

    &__text {
        max-width: 650px;
        font-family: 'Open Sans', sans-serif;
        font-size: 21px;
        line-height: 25px;
        color: #808285;

        @include for-sm {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.price {
    &__inner {
        margin-top: 130px;
        @include for-sm{
            margin-top: 40px;
        }
    }

    &__title {
        &:after {
            width: 470px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 75px;
        padding-left: 190px;
        width: 100%;

        @include for-xl {
            padding-left: 10px;
        }

        @include for-md {
            margin-top: 40px;
            padding: 0 15px;
        }

        @include for-md-mob {
            margin-top: 30px;
        }
    }

    &__download {
        position: relative;
        padding-left: 71px;
        font-size: 48px;
        line-height: 52px;
        color: $pink;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        &::before {
            content: '';
            position: absolute;
            width: 53px;
            height: 56px;
            background-image: url(../images/icons/download-grey.png);
            background-size: cover;
            background-repeat: no-repeat;
            left: 0;

            @include for-sm {
                transform: scale(.7);
                transform-origin: center 0;
            }
        }

        @include for-sm {
            font-size: 38px;
            line-height: 42px;
        }

        @include for-md-mob {
            padding-left: 55px;
            font-size: 28px;
            line-height: 32px;
        }
    }

    &__table-block {
        margin-top: 50px;
        margin-left: 65px;
        max-width: 1400px;
        border: 1px solid #a2a2a2;
        width: 100%;
        
        @include for-xl {
            width: auto;
            margin: 50px auto 0;
        }
        
        @include for-md {
            margin: 50px auto 0;
        }
        @include for-md-mob{
            overflow-x: scroll;
            width: 100%;
        }


    }

    &__table {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        line-height: 30px;
        border-spacing: 0;

        @include for-xl {
            width: auto;
        }

        @include for-md-mob {
            width: 100%;
        }

    }

    &__th {
        padding: 13px 0;
        background-color: $pink;
        text-align: center;
        color: $white;

        @include for-md-mob {
            padding: 10px;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__tr {
        &:nth-child(2n+1) {
            background-color: #fce9f1;
        }
    }

    &__td {
        padding: 10px 0;

        &:first-child {
            width: 13%;
            text-align: center;
        }

        &:nth-child(2) {
            width: 14%;
            text-align: center;
        }

        &:nth-child(3) {
            width: 11%;
            text-align: center;
        }

        &:nth-child(5) {
            width: 10%;
        }

        &:last-child {
            text-align: center;
            padding-right: 10px;
            padding-left: 10px;
        }

        @include for-md {
            padding: 10px !important;
            width: auto !important;
            font-size: 18px;
            line-height: 22px;
        }

        @include for-md-mob {
            padding: 5px !important;
            font-size: 8px;
            line-height: 12px;
        }
    }

    &__link {
        position: relative;
        margin-top: 75px;
        padding: 37px 50px;
        font-weight: 500;
        font-size: 48px;
        line-height: 52px;
        color: #ff9239;
        text-transform: uppercase;
        transition: .3s;
        align-self: center;
        text-align: center;

        &:hover {
            color: $white;

            &:after {
                width: 100%;
            }
        }

        &:before {
            content: '';
            position: absolute;
            border: 10px solid #ff9239;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: skewX(-13deg);
            transition: .3s;

            @include for-md {
                border-width: 5px;
            }

            @include for-md-mob {
                border-width: 2px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            transform: skewX(-13deg);
            width: 0;
            height: 100%;
            background-color: #ff9239;
            left: 0;
            top: 0;
            transition: .3s;
            z-index: -1;
        }

        @include for-sm {
            font-size: 32px;
            line-height: 36px;
        }

        @include for-md-mob {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.contacts {
    &__title {
        position: relative;
        z-index: 10;

        &:after {
            width: 540px;
        }
    }

    &__inner {
        margin-top: 100px;
        @include for-sm{
            margin-top: 40px;
        }
    }

    &__map-block {
        position: relative;
        margin-top: -58px;
        border-top: 8px solid $orange;
    }

    &__container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 70px 145px 54px 156px;
        right: 0;
        top: 22%;
        background-image: url(../img/contacts-bg.png);
        background-size: cover;
        background-repeat: no-repeat;

        @include for-lg {
            position: relative;
            background-color: #f95621;
            background-image: none;
        }

        @include for-sm {
            padding: 30px;
        }
        @include for-md-mob{
            padding: 20px;
        }
    }

    &__item {
        position: relative;
        padding-left: 70px;
        font-size: 30px;
        line-height: 34px;
        color: $white;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-size: cover;
            background-repeat: no-repeat;
            @include for-md{
                transform: scale(.8) translateY(-50%);
                transform-origin: center 0;
            }
            @include for-md-mob{
                transform: scale(.5) translateY(-50%);
            }
        }

        &--address {

            &:before {
                width: 51px;
                height: 67px;
                background-image: url(../images/icons/mark-orange.png);

            }
        }

        &--number {
            &:hover {
                text-decoration: underline;
            }

            &:before {
                width: 45px;
                height: 45px;
                background-image: url(../images/icons/phone-orange.png);

            }
        }

        &--mail {
            &:hover {
                text-decoration: underline;
            }

            &:before {
                width: 47px;
                height: 38px;
                background-image: url(../images/icons/mail-orange.png);

            }
        }

        @include for-md {
            padding-left: 60px;
            font-size: 24px;
            line-height: 28px;
        }

        @include for-md-mob {
            padding-left: 50px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__item+&__item {
        margin-top: 40px;
        @include for-md-mob{
            margin-top: 20px;
        }
    }

    &__social {
        margin-top: 49px;
        @include for-md-mob{
            margin-top: 20px;
        }
    }
    &__map{
        > ymaps{
            @include for-sm{
                height: 560px !important;
            }
            @include for-md-mob{
                height: 300px !important;
            }
        }
        
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &__item{
        display: flex;
        margin-right: 38px;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        transition: .3s;
        &:hover{
            transform: rotate(360deg);
        }
        @include for-md-mob{
            margin-right: 15px;
            transform: scale(.8);
        }
        
        &--whatsup{

            background-color: $white;
        }
    }
    &__item-img{
        &--whatsup{
            width: 40px;
            height: 40px;
        }
    }
    
}

.footer {
    padding: 51px 0 37px;
    background-color: $pink;
    @include for-sm{
        padding: 30px;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        color: $white;

        a {
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
    li + li{
        @include for-md{
            margin-top: 20px;
        }
        @include for-sm{
            margin-top: 10px;
        }
    }
}

.action-btn{
    position: absolute;
    padding: 39px 53px;
    top: 275px;
    right: 0;
    font-weight: 300;
    font-size: 60px;
    line-height: 64px;
    color: $white;
    z-index: 10;
    @include for-xl{
        top: 370px;
    }
    @include for-sm{
        padding: 20px 30px;
        font-size: 40px;
        line-height: 44px;
    }
    @include for-md-mob{
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
        top: 275px;
    }
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: skewX(-14deg) translate(-50%, -50%);
        background-color: $orange;
        z-index: -1;
    }
   
}
.action{
    position: absolute;
    padding: 57px 150px 41px 160px ;
    top: 275px;
    right: -150%;
    text-align: center;
    color: $white;
    z-index: 20;
    @include for-lg{
        padding: 30px 100px 20px 170px;
    }
    @include for-md{
        width: 100%;
        padding: 30px 70px 20px;
    }
    @include for-sm{
        padding: 20px 40px;
    }
    @include for-md-mob{
        padding: 40px 15px 20px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: skewX(-14deg) translate(-50%, -50%);
        background-color: $pink;
        z-index: -1;
        @include for-md{
            transform: translate(-50%, -50%);
        }
    }
    &__close{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 20;
        cursor: pointer;
        @include for-md{
            width: 30px;
            height: 30px;
            top: 10px;
            right: 10px;
        }
    }
    &__close-left{
        position: absolute;
        border: 3px solid $white;
        height: 40px;
        transform: rotate(45deg);
        left: 50%;
        @include for-md{
            height: 30px;
        }
    }
    &__close-right{
        position: absolute;
        border: 3px solid $white;
        height: 40px;
        transform: rotate(-45deg);
        left: 50%;
        @include for-md{
            height: 30px;
        }
    }
    &__title{
        margin-bottom: 15px;
        font-weight: 300;
        font-size: 48px;
        line-height: 52px;
        text-transform: uppercase;
        @include for-md{
            font-size: 38px;
            line-height: 42px;
        }
        @include for-md-mob{
            margin-bottom: 5px;
            font-size: 28px;
            line-height: 32px;
        }
    }
    &__subtitle{
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 44px;
        @include for-md{
            font-size: 36px;
            line-height: 40px;
        }
        @include for-md-mob{
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__row{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 715px;
        @include for-sm{
            flex-direction: column;
        }
    }
    &__item{
        &:nth-child(2n){
            margin-left: auto;
            @include for-sm{
                margin-left: 0;
            }
        }
    }
    &__item + &__item{
        @include for-sm{
            margin-top: 20px;
        }
    }
    &__item-text{
        font-size: 40px;
        line-height: 44px;
        @include for-md{
            font-size: 28px;
            line-height: 32px;
        }
        @include for-md-mob{
            font-size: 22px;
            line-height: 28px;
        }
    }
    &__discount{
        font-weight: 600;
        font-size: 88px;
        line-height: 92px;
        color: $orange;
        @include for-md{
            font-size: 70px;
            line-height: 78px;
        }
        @include for-md-mob{
            font-size: 50px;
            line-height: 54px;
        }
    }
    &__button {
        position: relative;
        padding: 27px 38px;
        margin-top: 44px;
        font-size: 48px;
        line-height: 52px;
        font-weight: 300;
        color: $white;
        transition: .3s;
        align-self: center;
        text-align: center;
        &:hover {
            color: $white;

            &:after {
                width: 0;
            }
        }
        &:before {
            content: '';
            position: absolute;
            border: 10px solid #ff9239;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transform: skewX(-13deg);
            transition: .3s;
            z-index: -1;
            @include for-md {
                border-width: 5px;
            }

            @include for-md-mob {
                border-width: 2px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            transform: skewX(-13deg);
            width: 100%;
            height: 100%;
            background-color: #ff9239;
            left: 0;
            top: 0;
            transition: .3s;
            z-index: -1;
        }
        @include for-md{
            padding: 20px 30px;
            font-size: 32px;
            line-height: 36px;
        }
        @include for-md-mob{
            padding: 15px 20px;
            font-size: 24px;
            line-height: 28px;
        }
    }
}

.trainer-modal{
    position: relative;
    display: none;
    padding: 113px 200px 90px 0;
    background-color: transparent;
    overflow: visible;
    @include for-lg{
        padding: 113px 70px 90px;
    }
    @include for-md{
        padding: 170px 60px 50px;
    }
    @include for-md-mob{
        padding: 160px 25px 50px;
    }
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        border: 20px solid #f95621;
        background-color: $white;
        transform: translate(-50%, -50%) skewX(170deg);
        z-index: -1;
        @include for-md{
            transform: translate(-50%, -50%);
        }
        @include for-md-mob{
            border-width: 10px;
        }
    }
    &__title{
        position: absolute;
        padding: 20px 223px 20px 60px;
        top: 0;
        left: 0;
        font-size: 48px;
        line-height: 52px;
        font-size: 300;
        color: $white;
        text-transform: uppercase;
        transform: translateY(-40%);
        z-index: 10;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: skewX(-14deg) translate(-50%, -50%);
            background-color: $orange;
            top: 50%;
            left: 50%;
            z-index: -1;
            @include for-md{
                transform: translate(-50%, -50%);
            }
        }
        @include for-md{
            top:70px;
            transform: none;
        }
        @include for-sm{
            width: 100%;
            padding: 15px;
            font-size: 38px;
            line-height: 42px;
            text-align: center;
        }
    }
    &__close{
        position: absolute;
        padding: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: $white;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        transform: translateY(-50%);
        right: 0;
        top: 0;
        cursor: pointer;
        @include for-md{
            font-size: 32px;
            line-height: 36px;
            transform: none;
            padding: 10px;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: skewX(-14deg) translate(-45%, -50%);
            background-color: $orange;
            top: 50%;
            z-index: -1;
            @include for-md{
                transform: translate(-50%, -50%);
                left: 50%;
            }
        }
    }
    &__inner{
        display: flex;
        align-items: flex-start;
        @include for-md{
            flex-direction: column;
        }
    }

    &__img-block{
        max-width: 448px;
        height: 497px;
        border: 5px solid #fff;
        border-radius: 3px;
        flex-shrink: 0;
        background-color: #fff;
        @include for-md{
            margin: 0 auto;
        }
        @include for-md-mob{
            height: 300px;
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__text-block{
        margin-left: 113px;
        max-width: 784px;
        @include for-lg{
            margin-left: 50px;
        }
        @include for-md{
            margin-left: 0;
            margin-top: 20px;
        }
    }
    &__expiriens{
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
        color: #f95621;
        &--total{
            color: $black;
        }
        @include for-md-mob{
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__about{
        font-size: 24px;
        line-height: 28px;
        color: $orange;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        @include for-md-mob{
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__text{
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        line-height: 28px;
        @include for-md-mob{
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__list{
        margin-left: 1em;
        font-family: 'Open Sans', sans-serif;
        @include for-md-mob{
            font-size: 15px;
            line-height: 19px;
        }
    }
    
    .fancybox-close-small{
        display: none;
    }
    .fancybox-navigation{
        display: none;
    }
    &__arrows{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        * + * {
            margin-left: 80px;
        }
        @include for-md{
            justify-content: space-between;
            margin-top: 20px;
        }
        @include for-sm{
            font-size: 28px;
            line-height: 32px;
        }
        @include for-md-mob{
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__arrow{
        border-bottom: 1px solid $orange;
        color: $orange;
        cursor: pointer;
        &:hover{
            border-color: transparent;
        }
    
    }
}
.fancybox-can-swipe .fancybox-content, .fancybox-can-pan .fancybox-content{
    cursor: auto;
}



.modal-content{
    max-width: 800px;
    width: 100%;
}

.why-we{
    padding-top: 100px;
    @include for-md{
        padding-top: 50px;
    }
    &__title{
        padding: 5px 15px;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row{
        display: flex;
        margin-top: 87px;
        margin-bottom: 80px;
        flex-wrap: wrap;
        max-width: 1720px;
        width: 100%;
        margin-right: -70px;
        @include for-md{
            margin: 30px 0 0;
            padding: 0 15px 0 30px;
            flex-direction: column;
        }
        @include for-md-mob{
            padding:  0 15px;
        }
    }
    &__container{
        width: 50%;
        margin-bottom: 70px;
        padding-right: 70px;
        @include for-md{
            width: 100%;
            padding-right: 0;
            margin-bottom: 40px;
        }
        @include for-md-mob{
            margin-bottom: 0;
        }
        &:first-child, &:nth-child(2){
            .why-we__img-block{
                &::before{
                    background-color: #f95621;
                }
            }
            
        }
        &:nth-child(3), &:nth-child(4){
            .why-we__img-block{
                &:before{
                    background-color: #f97721;
                }
            }
            
        }
        &:nth-child(5), &:nth-child(6){
            .why-we__img-block{
                &::before{
                    background-color: $orange;
                }
            }
            
        }
    }
    
}
.why-we-item{
    display: flex;
    align-items: flex-start;
    @include for-md{
        align-items: center;
    }
    @include for-md-mob{
        flex-direction: column;
    }
    &__img-block{
        position: relative;
        display: flex;
        width: 140px;
        align-items: center;
        justify-content: center;
        padding: 14px 22px;
        flex-shrink: 0;
        &::before{
            content: '';
            position: absolute;
            transform: skewX(-13deg);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: .3s;
            z-index: -1; 
        }
        @include for-md{
            transform: scale(.8);
        }
        @include for-md-mob{
            transform: scale(.6);
        }
        
    }
    &__text-block{
        margin-left: 37px;
        @include for-md{
            margin-left: 15px;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 40px;
        line-height: 44px;
        @include for-xl{
            br{
                display: none;
            }
        }
        @include for-lg{
            font-size: 36px;
            line-height: 40px;
        }
        @include for-md{
            font-size: 32px;
            line-height: 36px;
        }
        @include for-md-mob{
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
    }
}
.fancybox-button .fancybox-button--arrow_left{
    display: none;
}
.fancybox-button .fancybox-button--arrow_right{
    display: none;
}
.fancybox-navigation{

    display: none;
}
.fancybox-infobar{
    display: none;
}
.is-fullwidth.is-schedule .mf-widget_reg .mf-widget__body.mf-widget__body__without-header{
    @include for-lit-mob{
        width: 92% !important;
    }
}
